h1{

color:black;


    font-family: "Volkhov", serif;
    font-size:30px;
}

p{
font-style: oblique;
font-size: 15px;
color:rgb(4, 5, 7);

}
h2{
    color:blue;
    
}
span{
font-weight:bold;
color:red;
}
#samar

{

    height:100px;
    background-color:yellowgreen;
}
#muthu
{
    height:100px;
    background-color:green;

}
#nivin
{

    height:100px;
    background-color:gray;
}
.agal{
color:brown;
    font-size: 30px;
    text-align: center;
}
h2{

border-style:solid;
}
    h4{

        border-style:dashed;
        }
        h5{

            border-style:double;
            }
            h6{

                border-style:solid inset outset dashed;
                }
                h1
                {
                    text-align: center;
                    padding:20px;
                }

                #header
                {
                  width:100%;
                  background-color:aqua;
                  height: 100px;
                  overflow: hidden;
                }
                
                #panners
                {
                  width:100%;
                  background-color:burlywood;
                  height: 300px;
                  overflow: hidden;
                }             
                #intro
                {
                  width:100%;
                  background-color:pink;
                  height: 200px;
                  overflow: hidden;
                }
                #box1
                 {
height:400px;
width:32%;
background-color:orange; 
float:left; 
overflow:hidden;
margin-right:2%; 
               }
                 #box2
                 {
                    height:400px;
                    width:32%;
                    background-color:orange; 
                    float:left; 
                    overflow:hidden;
                    margin-right:2%;    
                     }
                                     #box3
                                     {
                                        height:400px;
                                        width:32%;
                                        background-color:orange; 
                                        float:right; 
                                        overflow:hidden; 
                                    
                                     }
                                        
#footer
{
    width:100%;
                  background-color:gold;
                  height: 100px;
                  overflow: hidden;
                  clear:both;
}

.fa-facebook
{
color: white;
background-color: rgb(57, 151, 223);
padding:12px;
font-size:24px;
border-radius: 30%;
}
.fa-facebook:hover
{
    opacity: 0.4;
}
.fa-twitter
{
color: white;
background-color:rgb(15, 53, 104);
padding:10px;
font-size:24px;
border-radius: 30%;
}
.fa-twitter:hover
{
    opacity: 0.4;
}
.fa-instagram
{
color: white;
background-color:rgb(255, 0, 140);
padding:10px;
font-size:24px;
border-radius: 30%;
}
.fa-instagram:hover
{
    opacity: 0.4;
}
a{

    text-decoration: none;
    color: black;
    font-size: 25px;
}
.button1
{

border: 1px solid green;
padding:15px 20px;


}
.button1:hover
{
background-color: gray;
color:whitesmoke;
}
.button2
{
     border-radius :20px;
border: 1px solid green;
padding:15px 20px;


}
.button2:hover
{
background-color: gray;
color:whitesmoke;
}
.button3
{
border-radius:50px;
border: 1px solid green;
padding:15px 20px;


}
.button3:hover
{
background-color: gray;
color:whitesmoke;
}
img:hover
{
    opacity:0.3;
}
#sec1
{
width: 400px;
height: 200px;
background-color: blanchedalmond;
}
#sec1:hover
{
    opacity: 0.3;
}
table,td,tr,th
{
    border: 1px solid black;
    border-collapse: collapse;
    height:50px;
    width: 1000px;
}
table.td,th,tr
{
    text-align: center;
    vertical-align: bottom;
    padding:hidden;

}
tr:nth-child(even)
{
background-color:gold;
color:red;
}
tr:hover
{
    background-color: brown;
    color:whitesmoke;
}
/* display */
span{
    color:red;
    }
    /* max-width */
    body{

background-color: whitesmoke;
min-width :450px;
max-width: 1200px;
    }
 /* overflow */
 #wrapper
 {
width:95%;
max-width :1200px;
height: 200%;
background-color: khaki;
overflow:scroll;
 }
  .container
 {
    width:400px;
    height: 300px;
    background-color: brown;
    margin:top 100px;
    margin:auto;
    box-sizing:border-box;
 }

 .kuttybox1
 {
    width:50px;
    height:50px;
    position:relative;
      left: 0px;
    top:0px;
     background-color:pink;
 }
     .kuttybox2
     {
        width:50px;
        height:50px;
        position:relative;
        top: 50px;
         background-color:greenyellow;
     }
     /* shadows */
     p{
        text-shadow:5px 4px 4px green;
        box-shadow: 2px 4px 4px black ; 
             }
             p:hover{
               box-shadow: 2px 4px 4px red ;
               text-shadow:5px 4px 4px black; 
             }
::selection
{
    background-color: green;
    color:yellowgreen;
}